[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_full_version = "3.6.5"

[scripts]
server = "env FLASK_APP=server:app FLASK_ENV=development flask run"
socket-server = "env FLASK_ENV=development gunicorn -k flask_sockets.worker server:app -b :5000"
client = "bash -c 'cd client && yarn start'"
deploy-backend = "git push heroku +master"
deploy-frontend = "bash -c 'cd client && yarn deploy'"
import-images = "env FLASK_APP=server:app FLASK_ENV=development flask import-images"
make-small-thumbnails = "env FLASK_APP=server:app FLASK_ENV=development flask make-small-thumbnails"
update-server = "heroku run flask read-events --count 200"

[packages]
Flask = "*"
flask-restplus = "*"
matrix_client = "*"
mongoengine = "*"
gunicorn = "*"
flask-cors = "*"
lxml = "*"
cssselect = "*"
pandas = "*"
request = "*"
pillow = "*"
boto3 = "*"
requests = "*"
pyserial = "*"
flask-sockets = "*"
redis = "*"

[dev-packages]
autopep8 = "*"
ipython = "*"
