[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_full_version = "3.6.5"

[scripts]
server = "env FLASK_APP=back:app FLASK_ENV=development flask run --port=3000"
client = "bash -c 'cd front && yarn start'"
deploy-backend = "git push heroku +master"
deploy-frontend = "bash -c 'cd front && yarn deploy'"
import-images = "env FLASK_APP=back:app FLASK_ENV=development flask import-images"
make-small-thumbnails = "env FLASK_APP=back:app FLASK_ENV=development flask make-small-thumbnails"
update-server = "heroku run flask read-events --count 200"

[packages]
Flask = "*"
flask-restplus = "*"
matrix_client = "*"
mongoengine = "*"
gunicorn = "*"
flask-cors = "*"
lxml = "*"
cssselect = "*"
pandas = "*"
request = "*"
pillow = "*"
boto3 = "*"
requests = "*"

[dev-packages]
autopep8 = "*"
