.flex {
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main.flex {
    // flex: 1;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

footer.flex {
    flex-shrink: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0px;
}

.clock {
    img {
        transition: opacity 1s;
    }
    .sun {
        width: 50px;
        height: 50px;
        display: none;
        background: yellow;
        position: absolute;
        transition: left 1s linear;
        transition: top 1s linear;
    }
}

.tides {
    footer {
        display: none;
    }
}

#tides-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    #background {
        display: none;
    }
    #sky,
    #sand,
    #ocean, .fullWidth {
        width: 100%;
    }
    #tide-level {
        width: 100%;
        height: 800px;
        position: absolute !important;
        left: 0;
        top: 0;
        transition: top 1s linear;
    }
    image.rounded {
        // clip-path: inset(25% 25% round 25% 25%);
        // -webkit-clip-path: inset(25% 25% round 25% 25%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
    }
    image,
    .highlight,
    foreignObject {
        transition: x 1s, y 1s, width 1s, height 1s, r 1s, opacity 1s;
    }
    #waves {
        .wave {
            transition: x 1s linear, y 1s linear;
        }
    }
    #scrim {
        width: 100%;
        height: 100%;
        fill: black;
        transition: opacity 1s linear;
    }
}
